*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#header-menu{
    display: flex;
    gap: 15px;
}
.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
body {
    background-color: antiquewhite;
}
header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    background-color: antiquewhite;
}
#introducao {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 10px;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: rgb(240, 219, 192);
}
#texto-intro{
    padding: 30px;
}
#capa{
    padding: 70px;
}
#capa img {
    width: 500px;
    height: 300px;
}
.maior {
    color: brown;
    text-transform: uppercase;
}
#intro {
    display: flex;
    flex-direction: column;
}
#botoes-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#botoes-intro a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
#meio {
    display: flex;
    margin: 50px;
    flex-direction: column;
    background-color: antiquewhite;
}
#topicosmei{
    background-color: antiquewhite;
    display: flex;
    margin: 50px;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.topicos {
    display: flex;
    margin: 50px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.tituloTopico{
    padding: 10px;
}
#menor{
    padding: 2px;
}
#baixo {
    background-color: rgb(240, 219, 192);
}
#tituloEsubtitulo {
    padding: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: rgb(240, 219, 192);
}
#tituloEsubtitulo a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.baixo {
    padding: 5px;
}
#fim{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    background-color: rgb(231, 189, 133);
    padding: 15px;
}