*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#header-menu{
    display: flex;
    gap: 15px;
}
.botaom{
    background-color: #C5A059;
    padding: 7px;
    border-radius: 20px;
}
.botaom a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    background-color: #C5A059;
}
.botaoi{
    background-color: antiquewhite;
    padding: 7px;
    border-radius: 20px;
    background-color: #C5A059;
}
.botaoi a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    background-color: #C5A059;
}
body {
    background-color: #1A1A1D;
    color: #E0E0E0;
}
header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    background-color: #1A1A1D;
}
#introducao {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 10px;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: #2A2A2E;
}
#texto-intro{
    padding: 30px;
}
#capa{
    padding: 70px;
}
#capa img {
    width: 500px;
    height: 300px;
}
.maior {
    color: brown;
    text-transform: uppercase;
}
#intro {
    display: flex;
    flex-direction: column;
}
#botoes-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#botoes-intro a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
#meio {
    display: flex;
    margin: 50px;
    flex-direction: column;
    background-color: #1A1A1D;
}
#topicosmei{
    background-color: #1A1A1D;
    display: flex;
    margin: 50px;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.topicos {
    display: flex;
    margin: 50px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.tituloTopico{
    padding: 10px;
}
#menor{
    padding: 2px;
}
#tituloEsubtitulo {
    padding: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #2A2A2E;
}
#tituloEsubtitulo a {
    text-decoration: none;
    color: #C5A059;
    font-weight: bold;
}
.baixo {
    padding: 5px;
}
#fim{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    background-color: #333;
    padding: 15px;
}
.fim-bts{
    display: flex;
    flex-direction: row;
    background-color: #C5A059;
    border-radius: 15px;
    padding: 7px;
}
.fim-bts a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}